@{
    ViewBag.Title = "Contact";
}
<a name="Contact"></a>
<div class="standardPageHeaderImg contactImg">
    <img src="~/Content/images/banner_images/Contact-Banner.gif" />
</div>
<h2>Contact</h2>
<section class="standardPageBody">
<p>Should you require any further information about the church and it's work then please don't hesitate to contact us either by post or via the phone number or email below. Please note: our phones are not manned at all times so in the event of your call being forwarded to our answer machine then please do leave a message with you name and a contact number and we will return your call.</p>
    <ul>
        <p>New Testament Church of God<br />
        3 Easterly Road<br />
        Harehills<br />
        Leeds<br />
        LS8 2TN</p>
        <p><strong>Tel:</strong> 0113 2406561</p>
        <p><strong>Mail:</strong><a href="mailto:leedsntcg@gmail.com" target="_blank">leedsntcg@gmail.com</a></p>
    </ul>
    <p><strong></strong></p>
</section>
