@{
    ViewBag.Title = "ProvForChildren";
}
<a name="ProvisionForChildren"></a>
<div class="standardPageHeaderImg provForChildrenImg">
    <img src="~/Content/images/banner_images/Provision-For-Children-Banner.gif" />
</div>
<h2>Provision For Children</h2>
<section class="standardPageBody">
    <p>If you are visiting with children then please be assured that you are more than welcome in the main sanctuary for the worship service. Many members and regular visitors choose to do this and the children are a blessing to be seen and heard there. Should your child prefer to be part of more age orientated activities then we have a vibrant and active children's church that runs parallel to the main Sunday morning worship service and also a small nursery for tots all staffed by committed and caring CRB checked staff.</p>
    <p>Ensuring that parents don't miss out we relay video of the main service through to the provided baby change and feeding facilities.</p>
</section>
