@{
    ViewBag.Title = "ServiceTimes";
}
<a name="ServiceTimes"></a>
<div class="standardPageHeaderImg serviceTimesImg">
    <img src="~/Content/images/banner_images/Service-Times-Banner.gif" />
</div>
<h2>Service Times</h2>
<section class="standardPageBody">
    <p>Below are the regular worship service times held by the church. When planning your visit please check the upcoming events panel on our home page for any additional services that may be taking place, for example over Easter or Christmas, or for the rare occurrences where evening service may be not be taking place. </p>
    <ul>
        <p><strong>Sunday Morning Worship and the Word: 11am - 1pm</strong></p>
        <p><strong>Sunday Evening Worship and the Word: 6pm - 8pm</strong></p>
    </ul>
   <p>Please note also that currently once a month our evening service is conducted by our young people and approximately once a month also the Sunday evening service is given over to the Biblical Studies programme with Pastor Parry, again see the upcoming events panel for the exact dates and times. For information about other public meetings either see the weekly programme section or alternatively contact our office via telephone or email.</p>   
</section>
