@{
    ViewBag.Title = "WeeklyProg";
}
<a name="WeeklyProgramme"></a>
<div class="standardPageHeaderImg weeklyProgrammeImg">
    <img src="~/Content/images/banner_images/Weekly-Programme-Banner.gif" />
</div>
<h2>Weekly Programme</h2>
<section class="standardPageBody">
    <p>In addition to the weekly Sunday worship services at the New Testament Church of God Leeds we have various regular weekly and fortnightly activities that visitor are welcome to</p>
    <table>
        <tr>
            <th>
                Monday
            </th>
            <td>
                <p>Prayer & Fasting 11 - 2pm</p>
            </td>
        </tr>
        <tr>
            <th>
                Tuesday
            </th>
            <td>
                <p>Mens Life Builders 7:30 - 10pm</p>
            </td>
        </tr>
        <tr>
            <th>
                Wednesday
            </th>
            <td>
                <p>Ladies Fellowship 7:30 - 10pm</p>
                <p>Sanctuary Choir Rehearsal 7:30 - 9:30pm</p>
            </td>
        </tr>
        <tr>
            <th>
                Thursday
            </th>
            <td>
                <p>Voices In Praise Choir Rehearsal 8 - 10pm</p>
            </td>
        </tr>
        <tr>
            <th>
                Friday
            </th>
            <td>
                <p>-</p>
            </td>
        </tr>
        <tr>
            <th>
                Saturday
            </th>
            <td>
                <p>-</p>
            </td>
        </tr>
        <tr>
            <th>
                Sunday
            </th>
            <td>
                <p>Prayer 9 - 10am</p>
                <p>Sunday School 10 - 11am</p>
            </td>
        </tr>
    </table>
</section>