@{
    ViewBag.Title = "WhatToExpect";
}
<a name="WhatToExpect"></a>
<div class="standardPageHeaderImg whatToExpectImg">
    <img src="~/Content/images/banner_images/What-To-Expect-Banner.gif" />
</div>
<h2>What To Expect</h2>
<section class="standardPageBody">
    <p>Our Sunday morning service generally consists of prayer, worship in singing (during which the congregation is free to sit, stand kneel or dance), collection of an offering, culminating in a preached message. Nevertheless as Proverbs 16:1 (AMP) declares:</p>
    <ul>
        <p><strong>The plans of the mind and orderly thinking belong to man, but from the Lord comes the [wise] answer of the tongue.</strong></p>
    </ul>
    <p>Therefore although services are structured, this is not to such a degree that fails to acknowledge the sovereignty of the God in our midst. As such full liberty and reign to direct the service is always in the hands of God through his Holy Spirit whether it be to direct the service collectively or to meet the needs of  a particular individual. Led by God our services are always by nature orderly,  just not necessarily always the order we have planned.</p>
    <p>The gifts of the spirit described in 1 Corinthians 12 of the speaking in and the interpretation of tongues are on occasion exercised by individuals within our services.</p>
    <div class="readMoreContainer">
        <a href="#" class="read_more">Read More >>></a>
    </div>
    <span class="more_text">
        <h4>Dress</h4>
        <p>You'll see everything from jeans to suits to traditional African dress, the New Testament Church of God is for everyone.</p>
        <h4>Parking</h4>
        <p>Unfortunately church parking spaces are currently limited meaning that cars often have to be parked either on Upland Road behind the church or on Easterly Road in front. Please note that on evenings cars are required to use their parking lights on Easterly Road. and to bear in mind the access requirements for the residents of Upland Road. Thank you.</p>
        <h4>Welcome</h4>
        <p>You will be greeted by our friendly welcome team at the door who will be happy to assist you with any questions you may have as will any of the ushers present in the sanctuary who you will be able to to identify by their gold lapel name badges.</p>
        <h4>Children</h4>
        <p>Children are more than welcome in all our church services. Provision is there if required for children to enjoy each other company Children's Church from 11am on Sunday Mornings. The church also runs Sunday School from 10am until 11am for a variety of age ranges.</p>
    </span>
</section>
