@{
    ViewBag.Title = "InChurch";
}
<a name="InChurch"></a>
<div class="standardPageHeaderImg inChurchImg">
    <img src="~/Content/images/banner_images/In-Church-Banner.gif" />
</div>
<h2>In Church</h2>
<section class="standardPageBody">
    <!--<p>Some general text about what the Church offers... </p>-->
    <h4>LIFE BUILDERS (Every Tuesday 7.30pm)</h4>
    <h4>Mission Statement</h4>
    <ul>
        <li>We exist to - Worship God in the beauty of holiness,</li>
        <li>To build and serve our families,</li>
        <li>To build and serve each other,</li>
        <li>To build and serve our communities,</li>
        <li>For the Glory of God and the souls of Men</li>
    </ul>
    <h4>Our Aim</h4>
    <p>That men, young, middle aged or older can grow in the knowledge of God and fulfill the calling for their life, share issues and concerns. preach, teach, and learn to live in the light of the word of God to impact the church and the community.</p>
    <p>Our activities and initiatives are all focussed on achieving our mission statement and aims. These include retreats, excursions, exhortations, interactive lectures and teaching, leadership development, film nights, bible quizzes, visiting homebound brothers, evangelism and social evenings.</p>
</section>