@{
    ViewBag.Title = "Working Church";
}
<div class="standardPageHeaderImg workingChurchImg">
    <img src="~/Content/images/banner_images/Working-Church-Banner.gif" />
</div>
<h2>Working Church</h2>
@*@Html.Partial("International")
@Html.Partial("InTheCommunity")*@
@Html.Partial("InChurch")
@*@Html.Partial("AdultEducation")
@Html.Partial("GetInvolved")*@
