@{
    ViewBag.Title = "Youth";
}
<div class="standardPageHeaderImg youthImg">
    <img src="~/Content/images/banner_images/Youth-Banner.gif" />
</div>
<h2>Youth</h2>
<section class="standardPageBody">
    <p>At New Testament Church of God Leeds we believe in our chidrens' future and acknowledge that the children are the future. Children are more than welcome in all our church services.</p>
    <p>Provision is there if required for children to join together in Chidrens Church from 11am on Sunday Mornings or Sunday School from 10am until 11am</p>
    <p>Beyond Sunday we offer range of opportunities for young people of all ages to have fun and get involved in the work of God.</p>
</section>
@Html.Partial("YouthActivities")
@*@Html.Partial("KingsDaughters")
@Html.Partial("YouthMinistries")
@Html.Partial("YouthDays")*@
@Html.Partial("SundaySchool")
