@{
    ViewBag.Title = "SundaySchool";
}
<a name="SundaySchool"></a>
<div class="standardPageHeaderImg sundaySchoolImg">
    <img src="~/Content/images/banner_images/Sunday-School-Banner.gif" />
</div>
<h2>Sunday School</h2>
<section class="standardPageBody">
    <p>We believe that each child is important to God and very much loved by God. Our key verses are found in Jeremiah 1 v 5-7:</p>
    <ul>
        <p><strong>Before I formed thee in the belly I knew thee, and before thou came forth out of the womb I sanctified thee, and I ordained thee a prophet unto the nations.  Then said I "ah Lord God behold I cannot speak; for I am a child".  But the Lord said unto me "say not I am a child."</strong></p>
    </ul>
    <p>As a Christian assembly our primary desire is to nurture, train and keep our children, young people and adults well-balanced spiritually, mentally and physically.</p>
    <p>It is the primary disciple-making ministry within our assembly. It helps persons to grow in the knowledge and grace of God through regular and balanced studies of the scriptures.</p>
    <p>Our Sunday School has a fun packed programme for the kids aged 3 to adult</p>
    <p>We meet on a Sunday morning each week at 10am to 11am.  Classes are taught by capable, committed team of DBR checked volunteer teachers, who impart the Word of God in practical and creative ways and inspire confidence in each student.</p>
    <p>Our lessons are age-appropriate, with lively activities, fun crafts, and Bible stories for the juniors, and as they get older we teach them having a relationship with God and with His people - emphasizing God's grace, love, and forgiveness as free gifts to all people; and our loving response to those great gifts - loving God most of all, loving others as God loves us, being good stewards of God's great creation and continual giving of worship to our God and Saviour.</p>
    <h4>Recognition</h4>
    <p>To us every child matters, and we welcome children and young people from diverse backgrounds</p>
    <p>During the month of August each year, the children look forward to the Sunday School trip. This is usually a fun-packed event which is open to all students, parent/carers and friends.  
    In September every year we set aside one Sunday to recognise and award each child for their Sunday School work.</p>
    <h4>Transportation</h4>
    <p>If you have or know a child who would like to join us but don't have transportation, then we can pick them up! Please contact our church secretary for more information.</p>
</section>