@{
    ViewBag.Title = "YouthActivities";
}
<a name="YouthActivities"></a>
<div class="standardPageHeaderImg youthActivitiesImg">
    <img src="~/Content/images/banner_images/Youth-Activities-Banner.gif" />
</div>
<h2>Youth Activities</h2>
<section class="standardPageBody">
    <h4>LIFE BUILDERS</h4>
    <p>Life Builder's Young Men have recently celebrated their 1st Year Anniversary. Life Builder's Young Men are a group of guys, aged between the ages of 11-25, who currently meet every 3rd Thursday of each month. For the past year, this has given them an opportunity to spend time together and share their life experiences, build friendships and gain personal developmental skills they will need for life. Not only do Life Builder's Young Men meet on a Thursday but they also venture out on trips,  throughout the year to various places and events across the UK. As we continue to meet together, we look forward to seeing how each individual continues grow as we encourage the younger members to become the best they can be too.</p>
</section>
