<div class="featured_link">
    <div class="left_feature">
        <a href="~/About/History">
            <img src="../../Content/images/history-placeholder.jpg" alt=""/>
            <h2>history</h2>
            <p>For over 125 years the Church of God has been a distinctive movement focused upon communicating the gospel in the power of the Holy Spirit. Presently, the Church of God has a world-wide membership of over 7 million with a presence in nearly 180 countries...</p>
        </a>
    </div>
    <div class="right_feature">
        <a href="~/Visiting/Contact">
            <div>
                <iframe width="150" height="150" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=3+Easterly+Road,+Leeds&amp;aq=0&amp;oq=3+Easterly+Road&amp;sll=53.815906,-1.512508&amp;sspn=0.011325,0.01987&amp;gl=uk&amp;ie=UTF8&amp;hq=&amp;hnear=3+Easterly+Rd,+Leeds+LS8+2TN,+United+Kingdom&amp;ll=53.815906,-1.512508&amp;spn=0.011325,0.01987&amp;t=m&amp;z=14&amp;output=embed"></iframe>
                <!--<br /><small><a href="https://maps.google.co.uk/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=3+Easterly+Road,+Leeds&amp;aq=0&amp;oq=3+Easterly+Road&amp;sll=53.815906,-1.512508&amp;sspn=0.011325,0.01987&amp;gl=uk&amp;ie=UTF8&amp;hq=&amp;hnear=3+Easterly+Rd,+Leeds+LS8+2TN,+United+Kingdom&amp;ll=53.815906,-1.512508&amp;spn=0.011325,0.01987&amp;t=m&amp;z=14" style="color:#0000FF;text-align:left">View Larger Map</a></small>-->
            </div>
            <div>
                <h2>location</h2>
                <p>Less than 10 minutes from Leeds City Centre, the New Testament Church of God (Leeds) is found on a number of frequently serviced bus routes. The 12, 13 and 13A from New Briggate by Primark will take you to the beginning of Easterly Road Leaving a 2 minutes walk to the chuch... </p><!--Alternatively the 49, 50 and 50A services will take a little longer but drop you right outside the Church.-->
            </div>
        </a>
     </div>
</div>