<section class="banner-wrapper">
    <div class="banner-slide">
      <ul class="rslides" id="slider4">       
         <li>
            <img src="~/Content/images/banner_images/Life-4-you-Banner-1.png" alt="">
        </li>
         <li>
          <a href="https://www.givey.com/ntcgleeds" target="_blank">
            <img src="Content/images/banner_images/Worship_03.gif" alt="">
            <p class="caption">Jesus answered, &quot;It is written: ‘Worship the Lord your God and serve him only.’&quot; Luke 4:8 (NIV)</p>
          </a>
        </li>
          <li>
          <a href="https://www.givey.com/ntcgleeds" target="_blank">
            <img src="Content/images/banner_images/leeds-development-project.gif" alt="">
            <p class="caption">And I say also unto thee, That thou art Peter, and upon this rock I will build my church; and the gates of hell shall not prevail against it.’&quot; Matthew 16:18 (KJV)</p>
          </a>
        </li>
        <li>
            <img src="Content/images/banner_images/church_banner_image_03.gif" alt="">
            <p class="caption">Now the Lord is the Spirit, and where the Spirit of the Lord is, there is freedom. 2 Corinthians 3:17 (NIV)</p>
        </li>
        <li>
            <img src="~/Content/images/banner_images/Life-4-you-Banner-2.png" alt="" />
        </li>
        <li>
          <img src="Content/images/banner_images/youth_banner_image_03.gif" alt="">
          <p class="caption">I write to you, young men, because you are strong, and the word of God lives in you, and you have overcome the evil one. 1 John 2:14 (NIV)</p>
        </li>
        <li>
          <img src="Content/images/banner_images/tree_banner_image_03.gif" alt="">
          <p class="caption">The heavens declare the glory of God the skies proclaim the work of his hands Psalm 19:1 (NIV)</p>
        </li>
      </ul>
    </div>
    <!--<div id="banner-slide">
		<ul class="bjqs">
            <li><a href=""><img src="Content/images/banner_images/Worship_03.gif" title="Jesus answered, &quot;It is written: ‘Worship the Lord your God and serve him only.’&quot; Luke 4:8 (NIV)"></a></li>
            <li><a href=""><img src="Content/images/banner_images/youth_banner_image_03.gif" title="I write to you, young men, because you are strong, and the word of God lives in you, and you have overcome the evil one. 1 John 2:14 (NIV)"></a></li>
            <li><img src="Content/images/banner_images/church_banner_image_03.gif" title="Now the Lord is the Spirit, and where the Spirit of the Lord is, there is freedom. 2 Corinthians 3:17 (NIV)"></li>
            <li><img src="Content/images/banner_images/tree_banner_image_03.gif" title="The heavens declare the glory of God the skies proclaim the work of his hands Psalm 19:1 (NIV)"></li>
		</ul>
	</div>-->
    <div class="banner-footer">
        <div>
            <img src="../../Content/images/diagonal-end-top.png" alt=""/> 
        </div>
        <div class="banner-footer-text"> 
            <p>&quot;All our church activities, services and programmes are so ordered as to encourage every person to have a divine encounter with God.&quot;</p>
        </div>
    </div>
</section>