@*model ChurchWebsite.Models.SampleModel*@
@{ 
    Layout = "../Shared/_Layout.Phone.cshtml"; 
}
@{
    ViewBag.Title = "Phone Home Page";
}

@*@Html.TextBoxFor(m => m.SearchTxt, new { type = "search", placeholder = "enter search terms here" })
@Html.EditorFor(m => m.ContactDateTime, "DateTime")
@Html.EditorFor(m => m.ContactDateTime, "Month")*@

<!--<div data-role="collapsible-set" data-collapsed="true">
    <div data-role="collapsible" data-theme="a" data-content-theme="a" data-collapsed="true">
        <h2>Home Page</h2>
        @*@Html.Partial("_Index_SubPage1")*@
    </div>

    <div data-role="collapsible" data-theme="a" data-content-theme="a" data-collapsed="true">
        <h3>We suggest the following:</h3>
        @*@Html.Partial("_Index_SubPage3")*@
    </div>

    <div data-role="collapsible" data-theme="a" data-content-theme="a" data-collapsed="true">
        <h2>Features</h2>
        @*@Html.Partial("_Index_SubPage4")*@
    </div>
</div>-->