@model ChurchWebsite.Models.CVideoPlayerModel
<div class="sermonsVidPlayerWrapper">
    <iframe width="815" height="460" src="@Url.Content(Model.EmbedLink)" frameborder="0" allowfullscreen></iframe>  
</div>

