@{
    ViewBag.Title = "Home Page";
    @*Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";*@
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
}

<div class="submenu_container">
    <ul class="submenuShowing">
        <li>
            <a href="/Admin/Home/ManageEvents" title="Manage Events">Manage Events</a>
        </li>
        <li>
            <a href="/Admin/Home/SermonManagement" title="Manage Sermons">Manage Sermons</a>
        </li>
        <li>
            <a href="/Admin/Home/ManageBannerImages" title="Manage Banner Images">Manage Banner Images</a>
        </li>
    </ul>
</div>