@{
    ViewBag.Title = "Beliefs";
}
<a name="Beliefs"></a>
<div class="standardPageHeaderImg beliefsImg">
    <img src="~/Content/images/banner_images/Beliefs-Banner.gif" />
</div>
<h2>Beliefs</h2>
<section class="standardPageBody">
    <p>The New Testament Church of God or Church of God, as it is known internationally, was founded upon the principles of Christ as they are revealed in the Bible, the Word of God. It has its foundation of faith and practice in the Scriptures and the vital experience of its constituents is scripturally oriented.</p>
    <div class="readMoreContainer">
        <a href="#" class="read_more" name="readMoreBeliefs">Read More >>></a>
    </div>
    <span class="more_text" name="readMoreBeliefs">
        <h4>Christian</h4>
        <p>First and foremost, the Church of God is a determinedly Christian church. It is built upon the person of Jesus Christ, the Son of God. The doctrines and practices of the church are based upon His teachings.</p>
        <h4>Protestant</h4>
        <p>The Church of God is founded upon the principles of Protestantism, although it is not a traditional follower of any specific leader of the Protestant Reformation. The denomination stands firmly for justification by faith, the priesthood of believers, the authority of the Bible, religious freedom, and the separation of church and state. It stands against abuses and extravagance of ecclesiastical ritualism and dogmatism.</p>
        <h4>Foundational</h4>
        <p>The Church of God subscribes to the following five foundational Christian doctrines:</p>
        <ol>
            <li>The inerrancy and infallibility of the Bible.</li>
            <li>The virgin birth and complete deity of Christ.</li>
            <li>The atoning sacrifice of Christ's death for the sins of the world.</li>
            <li>The literal resurrection of the body.</li>
            <li>Christ's second coming in bodily form to earth.</li>
        </ol>
        <h4>Evangelical</h4>
        <p>Evangelical is the term used to describe those who affirm the primary doctrines revealed in the Scriptures. These doctrines include the inspiration and authority of the Word of God; the Trinity; the deity and virgin birth of Jesus Christ; salvation by faith in the atoning death of Christ; His bodily resurrection and ascension to the right hand of the Father; the ministry of the Holy Spirit; the second coming of Christ; and the spiritual unity of believers in Jesus Christ.</p>
        <p>The Church of God has aligned itself with the basic statement of faith of NAE (National Association of Evangelicals) the largest association of Evangelicals in the USA. Members of NAE subscribe to a common statement of faith. The Church of God can be described as positioned in the mainstream of Evangelical Protestantism.</p>
        <h4>Pentacostal</h4>
        <p>In 1896, many members of the Church of God experienced a spiritual outpouring they identified as the baptism of the Holy Spirit. Because it was so similar to the experience of the early Christians on the day of Pentecost, it came to be called a Pentecostal experience, an enrichment of the Christian life through the power of the Holy Spirit that empowered believers to be effective witnesses of Christ. The principle distinctive of the Church of God as a Pentecostal organization is its belief in speaking with other tongues as the Spirit gives the utterance and that this is the initial evidence of the baptism in the Holy Spirit</p>
        <h4>Charismatic</h4>
        <p>The charismata or gifts of the Spirit appeared early in the life and ministry of the Church of God. The gifts can be divided into three categories: the gifts of revelation, the gifts of power and the gifts of utterance or inspiration. The gifts of revelation are the gifts of the word of wisdom, the word of knowledge and the discerning of spirits. The gifts of power are faith, miracles, and gifts of healing. The gifts of utterance and inspiration are prophecy, tongues and interpretation. The Holy Spirit bestows these gifts and those who accept the validity of these gifts are called charismatic.</p>
        <h4>Evangelistic</h4>
        <p>From its inception the Church of God has been a revival movement. Evangelism has been in the forefront of all its activities. The church has maintained an aggressive effort to take the message of Christ throughout the world by all means and methods. Every program of the church reflects an evangelistic attitude: revivalism, conferences, worship services, teaching, preaching and its missionary efforts.</p>
        <h4>Organised</h4>
        <p>The magnitude of the Great Commission requires a united effort. This united endeavor is efficiently served by guidance, support, resources and leadership from a common center. The New Testament Church of God is centrally organized. Centralized church government is administration from the international, national and district levels. It helps facilitate the fulfillment of the mission of the church.</p>
        <p>The control of the New Testament Church of God rests with the laity and ministers, who jointly form a governing body called the General Assembly which meets biennially. Benefits of centralised government include the following: uniformity of doctrine and practice; principles that bind together local churches in the same manner; membership commitments in all churches; expansion and extension of fellowship; accountability; cooperative decision-making; and united efforts in evangelism and world outreach.</p>
        <h4>Ministers and Laity</h4>
        <p>Ministers in the New Testament Church of God are ranked as ordained bishops, ordained ministers, exhorters, ministers of music and ministers of Christian education. They achieve these levels of ministry through a profession of faith, commitment to the church, training, internship and fulfillment of credential requirements. The Church of God emphasizes the doctrinal position of the priesthood of all believers and encourages laity to assume a Biblical role in local church ministry.</p>
        <h4>Education</h4>
        <p>Emphasis upon education and training is a priority of the Church of God. Educational opportunities are provided from local congregations through institutions of higher learning at the international level of the church.</p>
    </span>
</section>