@{
    ViewBag.Title = "DeclarationOfFaith";
}
<a name="DeclarationOfFaith"></a>
<div class="standardPageHeaderImg decOfFaithImg">
    <img src="~/Content/images/banner_images/Declaration-of-Faith-Banner.gif" />
</div>
<section class="standardPageBody">
<h2>Declaration Of Faith</h2>
<p>
	The Church of God believes the whole Bible to be completely and equally inspired and that it is the written Word of God. The Church of God has adopted the following Declaration of Faith as its standard and official expression of its doctrine.</p>
<p>
	<strong>We Believe:</strong></p>
<ul>
	<li>
		In the verbal inspiration of the Bible.</li>
	<li>
		In one God eternally existing in three persons; namely, the Father, Son, and Holy Ghost.</li>
	<li>
		That Jesus Christ is the only begotten Son of the Father, conceived of the Holy Ghost, and born of the Virgin Mary. That Jesus was crucified, buried, and raised from the dead. That He ascended to heaven and is today at the right hand of the Father as the Intercessor.</li>
	<li>
		That all have sinned and come short of the glory of God and that repentance is commanded of God for all and necessary for forgiveness of sins.</li>
	<li>
		That justification, regeneration, and the new birth are wrought by faith in the blood of Jesus Christ.</li>
	<li>
		In sanctification subsequent to the new birth, through faith in the blood of Christ; through the Word, and by the Holy Ghost.</li>
	<li>
		Holiness to be God&#39;s standard of living for His people.</li>
	<li>
		In the baptism with the Holy Ghost subsequent to a clean heart.</li>
	<li>
		In speaking with other tongues as the Spirit gives utterance and that it is the initial evidence of the baptism of the Holy Ghost.</li>
	<li>
		In water baptism by immersion, and all who repent should be baptized in the name of the Father, and of the Son, and of the Holy Ghost.</li>
	<li>
		Divine healing is provided for all in the atonement.</li>
	<li>
		In the Lord&#39;s Supper and washing of the saints&#39; feet.</li>
	<li>
		In the premillennial second coming of Jesus. First, to resurrect the righteous dead and to catch away the living saints to Him in the air. Second, to reign on the earth a thousand years.
	</li>
	<li>
		In the bodily resurrection; eternal life for the righteous, and eternal punishment for the wicked.</li>
</ul>
    </section>
