@{
    ViewBag.Title = "History";
}
<a name="History"></a>
<div class="standardPageHeaderImg historyImg">
    <img src="~/Content/images/banner_images/History-Banner.gif" />
</div>
<h2>History</h2>
<section class="standardPageBody">
<p>Pastor C Gray was the first pastor of the new Leeds church formed in 1959 that met at 43 Louis Street Leeds with 22 members, including J and P Crawford, F Crawford, M Grierson, B Copeland, F and B. Richards, A Blair, R Sinclair, I Clarke, P and A Beckford, E Smith, B Grey, D Leek, O Leek, U Ruddock, L and D Broderick. Sister P Crawford was the first Church Secretary, later succeeded by Sis D Leek.</p>
<div class="readMoreContainer">
    <a href="#" class="read_more" name="readMoreHistory">Read More >>></a>
</div>
    <span class="more_text" name="readMoreHistory">
        <p>Despite, Racism and poverty the Leeds Church overcame. Prayer and fasting coupled with fervent evangelism saw the Leeds church grow quickly and also the district with churches planted in Bradford, Huddersfield and Halifax. Sis I Gayle states: “The success of the church was due to the evangelism we did. We used to go door-to-door and evangelism on the streets”. Pastor Poyser who became the first district overseer and worked closely with Pastor Grey in planting many of the Churches in the north of England confirms in his message to the Church on the event of it’s 50th anniversary: “Time will not allow a total recall, but we can safely say our foundation was built on our unity in prayer and fasting, preaching, reaching out to the neighbourhoods. We remember the great old saints, and the work of the Holy Ghost. There were many knocking on doors, home visitation, some gave us a warm welcome - and some didn’t. But by God’s grace we persisted in exalting the name of our Lord Jesus and ‘hitherto has the Lord helped us’”.</p>
        <p>The commitment and sincerity of the early church in Leeds was undeniable. Members gave what they had to support the work of the ministry and even re-mortgaged their homes to purchase the first church building at 281a Chapeltown Road.</p>
        <p>Pastor Grey was succeeded by Pastor Nelson who is credited with developing the young church into a mature body of believers.</p>
        <p>From 1965 to 1979 Pastor T E Caine led the Leeds New Testament Church of God which in his time held the largest Sunday School in Europe with 439 members and an average attendance of 300. Pastor Caine’s desire to build confident leaders led to the formation of a District Youth and Christian Education Department with the aim of equipping believers to be relevant to a lost and dying world.</p>
        <p>Pastor L J Lyttle took over when Reverend Caine was asked to Pastor the Manchester Church and established the Beeston Church. Under his leadership the Leeds District Evangelism Breakthrough Initiative born and Bro W Innis was appointed as the first Local Evangelism director. The church continued its steady growth</p>
        <p>Under the Leadership of Pastor C L Hastings between 1983 - 1998 the church moved to it’s current location at 3 Easterly Road. Pastor Hastings was responsible for a number of tent outreach meetings in the heart of Chapeltown where many healings took place and many people who are members of the church today came to know Jesus Christ as their Personal Savior.</p>
        <p>Today the members of the New Testament Church of God Leeds. led by Reverend Canon Tony Parry MA MBA represent, over a 35 nations. As it was at it’s inception Leeds New Testament Church of God stands for Holiness to the Glory of God.</p>

        <h4>Caribbean Export</h4>
        <p>The Leeds church was formed by believers who arrived in England by invitation of the government to meet the labour shortage needs of rebuilding the country following the great sacrifices made during the Second World War. The New Testament Church of God had been established in Jamaica by the virtue of one Rev J. Wilson Bell from Kingston Jamaica, who made contact by letter to the Church of God Headquarters in Cleveland Tennessee in the summer of 1917.</p>
        <p>This resulted in the very first missionary of the church to Jamaica and the Caribbean, Rev. J.S. Llewellyn responding in April 1918. He worked with Rev. J. Wilson Bell and Rev. J. M. Parkinson, the first two recognized Ministers and organized a church in Kingston with seven members. By 1922 the Pentecostal flame of the New Testament Church of God reached the parish of Clarendon in Central Jamaica.</p>
        <p>By the most recent estimates the Jamaican church has grown to 361 churches with over 80,000 members and a total following of 163,000 according to the population census of 2001. Churches planted by Jamaicans worldwide can often by distinguished by the fact that they are also referred to as New Testament Church of God within the Church of God family</p>

        <h4>Inception</h4>
        <p>Known in the United States as The Church of God. The formation of the church is recorded as being August 19, 1886, in Monroe County, Tennessee, near the North Carolina border. Disillusioned with luke-warmness of the pervading church culture of the time, the former Baptist Richard Green Spurling preached in a millhouse along Barney Creek and eight persons formed a Christian Union for the purpose of following the New Testament as their rule for faith and practice, giving each other equal rights and privilege to interpret Scripture, and sitting together as the church of God.  Twenty-one years later the growing movement formally adopted the name Church of God.</p>
        <p>Ten years after the organizational meeting, a revival at the Shearer Schoolhouse in nearby Camp Creek, North Carolina, introduced the doctrine of sanctification (a second work of grace following salvation, culminating in the Baptism of the Holy Spirit) to the community. Opposition to this doctrine led to severe persecution, but a spirit of revival prevailed and the Holiness believers experienced an outpouring of the Holy Spirit that included speaking in tongues and divine healing. Such experiences prepared the way for the explosion of the Pentecostal movement in the early twentieth century.</p>
    </span>
</section>