@{
    ViewBag.Title = "MinistryTeam";
}
<a name="MinistryTeam"></a>
<div class="standardPageHeaderImg ministryTeamImg">
    <img src="~/Content/images/banner_images/Ministry-Team-Banner.gif" />
</div>
<h2>Ministry Team</h2>
