@{
    ViewBag.Title = "Testimonies";
}
<a name="Testimonies"></a>
<div class="standardPageHeaderImg testimoniesImg">
    <img src="~/Content/images/banner_images/Testimonies-Banner.gif" />
</div>
<h2>Testimonies</h2>
<section class="standardPageBody">
    <h4>Beverley Levy-Smith...</h4>
    <p>My name is Beverley Levy-Smith and I am 53 years old and mother of 2 wonderful young men. Dylan Giles 21 who is in his final year at Preston University and Macaulay 19 who is in his first year at Crewe university. I am very blessed and very proud of the young men they have grown to be despite of my past. God has truly kept them.</p>
    <p>I grew up in a Christian home but was very rebellious, I rebelled against the Christian values of my parent’s home. I chose to leave at the age of 17 and live my own life and because of my rebellion I made many wrong choices l lived a gangster lifestyle, this led me into a 17 year crack cocaine addiction of £3,000 a week. I spent 8 years of my life in prison because of the  lawless life I lead.</p>
    <div>
    <div class="readMoreContainer">
        <a href="#" class="read_more" name="readMoreTestimonies1">Read More >>></a>
    </div>
    <span class="more_text" name="readMoreTestimonies1">
    <p>Things came to a head after being involved in a near death car accident. Where God spoke to me audibly. That day I made up my mind I was going back to church, going to accept Christ into my life, which I did but could not kick my addiction. Life became a nightmare I was broken and cried out to the Lord for a way out. I wanted to die and planned to take my own life.</p>
    <p>The day I planned to do this I went to church, the church I had grown up in, I heard a message called “Out of the Ashes” which stirred me. I spoke to the visiting preacher at that time Bishop Chambers, he told me I needed professional help and through a family friend in the church that knew of Teen Challenge I entered the program in Wales on 2nd August 2005.</p>
    <p>This was the best thing I have ever done as well as the hardest; I met with God at Hope House (Teen Challenge) in a big way and made Him my priority and my all in all. I graduated in April 2007 as a woman of God, changed, delivered and healed and the praise and Glory belongs to God.</p>
    <p>Since graduating God has restored my family, I returned to Leeds and was employed by Teen Challenge Leeds on the outreach team for 2 years. I moved on from there to work for Social services with youth after care for 2 years. I travelled on mission trips to Uganda, Kenya, South Africa, Trinidad, India  and Barbados  sharing the Gospel and working with the lepers, HIV victims and street kids. Most recently i headed up my first mission team to Teen challenge Jamaica where we served and shared the love of Jesus Christ, lives where changed and God truly touched and spoke to the team 2 of which were teenagers. I have also been involved in many of the ministries within my home church and I am the founder of the Kings Daughters young women’s ministry.</p>
    <p>I have travelled all round the UK sharing the love of Jesus and the amazing things he has done in my life and giving hope to others to believe he can also do it for them. God is awesome and his word in Jeremiah 29.11 has proven to be true in my life and I know that at this moment in time I am in the centre of Gods will for my life. I thank The Lord for my Parents my wonderful boys (now young men), and also the ministry of Teen challenge for believing in me and helping me fulfil my calling. I live to serve God, I stay under his word and that is my life.</p>
    <p>In 2013 I was honoured to be nominated for and won 2 awards, for the way my life turned around, I was blown away and so humbled to hear that my life change has impacted and inspired so many people. In 2014 I ended my season at Hope House Teen Challenge to take up a role in Harrogate to pioneer a women’s after care centre, My role will still be counselling and mentoring  women. This new season in my life is just another part of Gods plan for my life I embrace it as I know he knows best.</p>
    <p>Bless You</p>
    </span>
</div>
</section>
<section class="standardPageBody">
    <h4>Sarah Atkins...</h4>
    <p>So my name is Sarah Atkins I am 33 and from Leeds.</p>
    <p>I had a very troubled upbringing and felt rejected from a very early age. This led me to try and find a way of coping with the hurt I was feeling within myself. My way of doing that was self harm and eating disorders. I tried gaining acceptance by excelling at high school being the only one out of five children to complete and came away with 11 GCSE's</p>
    <div>
    <div class="readMoreContainer">
        <a href="#" class="read_more" name="readMoreTestimonies2">Read More >>></a>
    </div>
    <span class="more_text" name="readMoreTestimonies2">
    <p>When this failed, at just 17 I chose to have my daughter, but I didn't know how to love as I had never experienced what love was. I quickly fell into a relationship with a man who was 11 years older. I was young and naive he promised me the world but the reality was that he beat me, controlled me and raped me leaving me pregnant. This led to my downward spiral into drug addiction. I couldn't cope with my son, drink and drugs were the only thing to get me through the day. Then when I lost my daughter I had lost every thing in my eyes. I tried ending my life on a number of occasions but the God kept his hand of protection over my life.</p>
        <p>By the end of a 15 year addiction I was homeless, I'd lost my children and my marriage was a mess. That's when I went into Teen Challenge, a Christian rehabilitation centre. I met with the Lord there in a mighty way. It took a long time but the God really did heal every wound within me. He has broken every chain that kept me bound and restored far beyond what I ever thought could be restored. I now have my own home and my daughter lives with me and I've just returned from my first mission trip. This year I am hoping to go to theology college.</p>
    <p>God has restored my family back to me and turned my life around. I give him all the praise, all the glory and all the honor. Who the son sets free is free indeed.</p>
    </span>
</div>
</section>
