@{
    ViewBag.Title = "Vision";
}
<a name="Vision"></a>
<div class="standardPageHeaderImg visionImg">
    <img src="~/Content/images/banner_images/Vision-Banner.gif" />
</div>
<h2>Vision & Mission</h2>
<section class="standardPageBody">
    <h4>Vision</h4>
    <p>As a church we are an outward facing organisation, actively engaging with our local communities as salt and light. All our church activities, services and programmes are so ordered as to encourage every person to have a divine encounter with God.</p>
    <h4>Mission</h4>
    <p>The New Testament Church of God in Leeds recognises its divine mission under God, as encapsulated in Matthew 28:18 – 20, to go and to teach all nations, baptising them in the name of the Father, Son and the Holy Spirit and teaching them to observe all things of the Lord, as true disciples of Jesus Christ.</p>
    <div class="readMoreContainer">
        <a href="#" class="read_more" name="readMoreVision">Read More >>></a>
    </div>
    <span class="more_text" name="readMoreVision">
        <ul>
            <li>All are taught the principles of the holy faith.</li>
            <li>All are equipped and empowered to know God’s purpose for their lives.</li>
            <li>All members are encouraged to go into all the world to make disciples of men.</li>
            <li>All departments are inspired of the Lord and led by anointed leaders.</li>
            <li>The power of Pentecost is practically demonstrated within the church and the importance of its preservation is cascaded down to succeeding generations.</li>
            <li>To be a place of refuge, rescue, restoration, resurrection and revival.</li>
            <li>That the church actively seeks to be a learning environment, continuously enhancing our knowledge of Jesus Christ regarding the church and the things of God.</li>
            <li>As a church we will once again reclaim the vital process of sanctification for every believer to be truly cleansed from sin before appointment for service.</li>
            <li>As a church evidence of our work will focus on regeneration of our community through the power of prayer and service.</li>
            <li>Young people hold the promise of our church today, so our youth programmes will have a focus on development of leaders for today and tomorrow.</li>
            <li>In missions, making Jesus Christ known to all nations through the work of the various ministries within the church, that believers who come to faith will be taught the principles of the holy faith, nurtured in the ways of the Lord and equipped to become true disciples of Jesus Christ.</li>
        </ul>
    </span>
</section>